:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --button-white-bcg: #F5F4FA;
    --button-text-color: #FFFFFF;
    --hero-footer-bcg: #2F303A;
    --logo-heder-color: #000;
    --com-footer-color: rgba(255, 255, 255, 0.6);
    --border-color: #ECECEC;
    --button-hero-hover: #188CE8;
    --shadow-cards-button: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

body {
    background-color:var(--button-text-color);
    color: var(--primery-text-color);
    font-family:Roboto, sans-serif; 
    letter-spacing: 0.03em;
}
.list {
    padding: 0;
    margin: 0;

    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
/*-----------------Header----------------------- */
.page-header {
    border-bottom: 1px solid var(--border-color);
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    width: 1200px;
}
/*----- Logo -----*/
.logo-header {
    color: var(--logo-heder-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration:none;
}
.logo-web {
    color: var(--accent-color);
}


/*----- Nav header -----*/
.main-site,
.nav-site,
.nav-header,
.com-header {
    display: flex;
    align-items: center;
}
.nav-header .item:not(:last-child) {
    margin-right: 50px;
}
/* .nav-header .item + .item {
    margin-left: 50px;
} */
.nav-header {
    margin-left: 93px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
} 
.nav-header .link {
    text-decoration: none;
}
.nav-header .link:hover,
.nav-header .link:focus {
    color: var(--accent-color);
}
.link-current {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--accent-color);
    text-decoration: none;
}

/*----- Com heder -----*/
/* .com-header .item:not(:last-child) {
    margin-right: 50px;
} */
.com-header .item+.item {
    margin-left: 50px;
}
.com-header {
    margin-left: auto;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration:none;
}
.com-header .link:hover,
.com-header .link:focus {
    color: var(--accent-color);
}
.com-header .link {
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    text-decoration:none;
}
.com-header .link {
    color: var(--primery-text-color);
} 

/* .item {
    display: block;
    background-color: var(--primary-text-color);
    color: var(--accent--color);
    } */
.icon {
    display: flex;
    align-items: center;
}
.icon-mail {
    margin-right: 10px;

    width: 16px;
    height: 12px;
    fill: currentColor;
}
.icon-phone {
    margin-right: 10px;

    width: 10px;
    height: 16px;
    fill: currentColor;
}
/* .com-header .icon-envelope:hover,
.com-header .icon-smartphone:hover {
    fill: var(--accent-color);
} */



/*------------------- Hero h1----------------------*/
.hero {
    max-width: 1600;
    min-height: 600;
    padding-top: 200px;
    padding-bottom: 200px;
    
    background-color:var(--hero-footer-bcg);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url(../images/bcg_Img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    text-align: center;
}
.hero-title {
    margin-bottom: 30px;

    color:var(--button-text-color) ;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero .button-hero {
    padding: 10px 32px;
    margin: 0;
    border: 0;
    border-radius: 4px;

    background-color: var(--accent-color);
    color:var(--button-text-color) ;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.hero .button-hero:hover,
.hero .button-hero:focus {
    background-color: var(--button-hero-hover);
}

/*------------------ All Section h2 --------------*/
h2 {
     margin-bottom: 50px;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/*----- Features h3, p -----*/
.section-features {
    padding-top: 94px;
}
.features {
    display: flex;
    gap: 30px;
}
.feature-item {
    flex-basis: calc((100% - 90px)/4);
}
.features .title {
    margin-bottom: 10px;
 
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    text-transform: uppercase;
}
.features .text {
    color: var(--primery-text-color);
    font-size: 14px;
    line-height: 1.71;
}
.link .text {
    color: var(--primery-text-color);
    font-size: 14px;
    font-size: 16px;
    line-height: 1.88;
} 
.icon-features {
    /* display: flex; */
    margin-bottom: 30px;
    padding-top: 25px;
    padding-right: 100px;
    padding-bottom: 25px;
    padding-left: 100px;

    width: 270px;
    height: 120px;
    background-color: var(--button-white-bcg);
    /* align-items: center; */
}
.icon-antenna {
    width: 70px;
    height: 70px;
    fill: currentColor;
}
.icon-clock {
    width: 70px;
    height: 70px;
    fill: currentColor;
}
.icon-diagram {
    width: 70px;
    height: 70px;
    fill: currentColor;
}
.icon-astronaut {
    width: 70px;
    height: 70px;
    fill: currentColor;
    }

/*----- Work -----*/
.work {
    display: flex;
    gap: 30px;
}
.work-item {
    flex-basis: calc((100% - 60px)/3);
}
/* .work-item:not(:last-child) {
    margin-right: 30px;
} */

/*----- Team h3, p -----*/
.section-staff {
    background-color: var(--button-white-bcg);
}

.staff {
    display: flex;
    gap: 30px;
}
.staff-item {
    flex-basis: calc((100% - 90px)/4);

    background-color: var(--button-text-color);
}
.staff .title {
    /* margin-top: 30px; */
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.staff .text {
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.staff-border {
    padding-top:30px;
    padding-bottom: 30px;
    box-shadow: var(--shadow-cards-button);
}
.staff-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.staff-soc-item {
    width: 44px;
    height: 44px;
}

.staff-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;
}

.staff-soc-icon {
    fill: currentColor;
}
.staff-soc-link:hover,
.staff-soc-link:focus {
    background-color: var(--accent-color);
}
.staff-soc-link:hover .staff-soc-icon,
.staff-soc-link:focus .staff-soc-icon {
    fill: var(--button-text-color);
}
        
    
        




/* ------------------- Clients ---------------*/

.clients-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.client-item {
    flex-basis: calc((100% - 150px)/6);
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}
.client-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;
    
}   
.client-icon {
    fill: currentColor;
} 
.client-icon:hover {
    fill: var(--accent-color);
    
}

/*-------------------- Portfolio -------------*/
/*----- Filters -----*/
.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filter-item:not(:last-child) {
    margin-right: 8px;
}
.button {
    border: 0;
    
    padding:6px 22px;
    min-width: 73px; 
    border-radius: 4px;

    background-color: var(--button-white-bcg);
    color: var(--title-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    
}
.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: var(--button-text-color);
    box-shadow: var(--shadow-cards-button);
}

/*----- Projects -----*/
.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.project-item {
     flex-basis: calc((100% - 60px)/3);
     
}
.project-item:hover,
.project-item:focus {
    box-shadow: var(--shadow-cards-button);
}

.projects .link {
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: none;
}
.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.link .section-title {
    margin-bottom: 4px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
}
.project-border {
    padding: 20px 24px;
    

    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}





/*-------------------- Footer -------------------*/
.bcg-footer {
    
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--hero-footer-bcg);
}
.footer-box {
    display: flex;
}
.logo-footer {
    display: inline-block;
    margin-bottom: 20px;

    color:var(--button-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration:none;
}
.addr-footer .text{
    margin-bottom: 9px;

    color:var(--button-text-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}
.com-footer:not(:last-child) {
    margin-bottom: 9px;
}

.com-footer .link-footer {
    padding-top: 0;
    padding-bottom: 0;

    color: var(--com-footer-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}
.com-footer .link-footer:hover,
.com-footer .link-footer:focus {
    color: var(--accent-color);
}
/* ------ Join --------*/
.soc-footer {
    margin-left: 70px;
}
.footer-title {
    margin-bottom: 20px;
    color: #FFFFFF;
    text-transform: uppercase;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    
}
.footer-soc-list {
    display: flex;
    justify-content: left;
    gap: 10px;
}

.footer-soc-item {
    width: 44px;
    height: 44px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.footer-soc-icon {
    fill: currentColor;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: var(--accent-color);
}

/* .footer-soc-link:hover .staff-soc-icon,
.footer-soc-link:focus .staff-soc-icon {
    fill: var(--button-text-color);
} */